-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: kasa_ilaya_resort
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activity_logs`
--

DROP TABLE IF EXISTS `activity_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_logs` (
  `id` varchar(64) NOT NULL,
  `created_date` datetime NOT NULL,
  `updated_date` datetime NOT NULL,
  `user_email` varchar(191) DEFAULT NULL,
  `user_name` varchar(191) DEFAULT NULL,
  `action` varchar(191) NOT NULL,
  `entity_type` varchar(64) NOT NULL,
  `entity_id` varchar(64) NOT NULL,
  `details` text DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_logs`
--

LOCK TABLES `activity_logs` WRITE;
/*!40000 ALTER TABLE `activity_logs` DISABLE KEYS */;
INSERT INTO `activity_logs` VALUES ('log-resort-rules-seed','2026-09-15 08:54:53','2026-09-15 08:54:53','system@kasa-ilaya.local','System','Seeded Resort Rules','System','resort-rules-seed','Initialized default resort rules for editable admin management.');
/*!40000 ALTER TABLE `activity_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bookings`
--

DROP TABLE IF EXISTS `bookings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `bookings` (
  `id` varchar(64) NOT NULL,
  `created_date` datetime NOT NULL,
  `updated_date` datetime NOT NULL,
  `booking_reference` varchar(64) NOT NULL,
  `package_id` varchar(64) NOT NULL,
  `package_name` varchar(191) NOT NULL,
  `tour_type` enum('day_tour','night_tour','22_hours') NOT NULL,
  `booking_date` date NOT NULL,
  `guest_count` int(11) NOT NULL DEFAULT 1,
  `customer_name` varchar(191) NOT NULL,
  `customer_email` varchar(191) NOT NULL,
  `customer_phone` varchar(64) NOT NULL,
  `special_requests` text DEFAULT NULL,
  `total_amount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `reservation_fee_amount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `payment_type` enum('downpayment','full_payment') NOT NULL DEFAULT 'downpayment',
  `payment_amount_due` decimal(10,2) NOT NULL DEFAULT 0.00,
  `payment_mode` varchar(191) DEFAULT NULL,
  `payment_qr_code_id` varchar(64) DEFAULT NULL,
  `payment_qr_code_label` varchar(191) DEFAULT NULL,
  `receipt_url` text DEFAULT NULL,
  `status` enum('pending','confirmed','cancelled','completed','archived') NOT NULL DEFAULT 'pending',
  `payment_status` enum('unpaid','pending_verification','paid') NOT NULL DEFAULT 'unpaid',
  `additional_fee_amount` decimal(10,2) NOT NULL DEFAULT 0.00,
  `additional_fee_reason` text DEFAULT NULL,
  `additional_fee_status` enum('pending','unpaid','paid') NOT NULL DEFAULT 'unpaid',
  `rebooking_status` enum('none','pending','approved','declined') NOT NULL DEFAULT 'none',
  `rebooking_original_date` date DEFAULT NULL,
  `rebooking_requested_date` date DEFAULT NULL,
  `rebooking_reason` text DEFAULT NULL,
  `rebooking_requested_at` datetime DEFAULT NULL,
  `rebooking_resolved_at` datetime DEFAULT NULL,
  `rebooking_resolution_note` text DEFAULT NULL,
  `rebooking_count` int(11) NOT NULL DEFAULT 0
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bookings`
--

LOCK TABLES `bookings` WRITE;
/*!40000 ALTER TABLE `bookings` DISABLE KEYS */;
/*!40000 ALTER TABLE `bookings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `found_items`
--

DROP TABLE IF EXISTS `found_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `found_items` (
  `id` varchar(64) NOT NULL,
  `created_date` datetime NOT NULL,
  `updated_date` datetime NOT NULL,
  `item_name` varchar(191) NOT NULL,
  `description` text DEFAULT NULL,
  `date_found` date NOT NULL,
  `location_found` varchar(191) DEFAULT NULL,
  `found_by` varchar(191) DEFAULT NULL,
  `status` enum('unclaimed','claimed') NOT NULL DEFAULT 'unclaimed',
  `image_url` text DEFAULT NULL,
  `claimed_guest_name` varchar(191) DEFAULT NULL,
  `claimed_contact` varchar(191) DEFAULT NULL,
  `claimed_reservation_id` varchar(64) DEFAULT NULL,
  `proof_of_ownership` text DEFAULT NULL,
  `released_by` varchar(191) DEFAULT NULL,
  `date_claimed` date DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `found_items`
--

LOCK TABLES `found_items` WRITE;
/*!40000 ALTER TABLE `found_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `found_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inquiries`
--

DROP TABLE IF EXISTS `inquiries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inquiries` (
  `id` varchar(64) NOT NULL,
  `created_date` datetime NOT NULL,
  `updated_date` datetime NOT NULL,
  `guest_name` varchar(191) NOT NULL,
  `guest_email` varchar(191) NOT NULL,
  `guest_phone` varchar(64) DEFAULT NULL,
  `subject` varchar(191) NOT NULL,
  `status` enum('open','in_progress','resolved','closed','archived') NOT NULL DEFAULT 'open',
  `user_id` varchar(64) DEFAULT NULL,
  `assigned_admin_id` varchar(64) DEFAULT NULL,
  `guest_token_hash` varchar(64) DEFAULT NULL,
  `last_message_at` datetime NOT NULL,
  `last_message_preview` text DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inquiries`
--

LOCK TABLES `inquiries` WRITE;
/*!40000 ALTER TABLE `inquiries` DISABLE KEYS */;
/*!40000 ALTER TABLE `inquiries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inquiry_messages`
--

DROP TABLE IF EXISTS `inquiry_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inquiry_messages` (
  `id` varchar(64) NOT NULL,
  `created_date` datetime NOT NULL,
  `updated_date` datetime NOT NULL,
  `inquiry_id` varchar(64) NOT NULL,
  `sender_type` enum('guest','admin') NOT NULL,
  `sender_name` varchar(191) NOT NULL,
  `sender_email` varchar(191) DEFAULT NULL,
  `sender_user_id` varchar(64) DEFAULT NULL,
  `message` text NOT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inquiry_messages`
--

LOCK TABLES `inquiry_messages` WRITE;
/*!40000 ALTER TABLE `inquiry_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `inquiry_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lost_item_reports`
--

DROP TABLE IF EXISTS `lost_item_reports`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lost_item_reports` (
  `id` varchar(64) NOT NULL,
  `created_date` datetime NOT NULL,
  `updated_date` datetime NOT NULL,
  `guest_name` varchar(191) NOT NULL,
  `reservation_number` varchar(64) DEFAULT NULL,
  `item_lost` varchar(191) NOT NULL,
  `description` text DEFAULT NULL,
  `date_lost` date NOT NULL,
  `contact_number` varchar(64) DEFAULT NULL,
  `email` varchar(191) DEFAULT NULL,
  `status` enum('searching','matched','claimed') NOT NULL DEFAULT 'searching',
  `matched_item_id` varchar(64) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lost_item_reports`
--

LOCK TABLES `lost_item_reports` WRITE;
/*!40000 ALTER TABLE `lost_item_reports` DISABLE KEYS */;
/*!40000 ALTER TABLE `lost_item_reports` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mail_logs`
--

DROP TABLE IF EXISTS `mail_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mail_logs` (
  `id` varchar(64) NOT NULL,
  `sent_at` datetime NOT NULL,
  `to_email` varchar(191) NOT NULL,
  `subject` varchar(191) NOT NULL,
  `body` longtext NOT NULL,
  `status` varchar(32) NOT NULL DEFAULT 'pending',
  `error_message` text DEFAULT NULL,
  `provider` varchar(64) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mail_logs`
--

LOCK TABLES `mail_logs` WRITE;
/*!40000 ALTER TABLE `mail_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `mail_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `packages`
--

DROP TABLE IF EXISTS `packages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `packages` (
  `id` varchar(64) NOT NULL,
  `created_date` datetime NOT NULL,
  `updated_date` datetime NOT NULL,
  `name` varchar(191) NOT NULL,
  `description` text DEFAULT NULL,
  `tour_type` enum('day_tour','night_tour','22_hours') NOT NULL,
  `price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `day_tour_price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `night_tour_price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `twenty_two_hour_price` decimal(10,2) NOT NULL DEFAULT 0.00,
  `max_guests` int(11) NOT NULL DEFAULT 1,
  `inclusions` longtext DEFAULT NULL,
  `gallery_images` longtext DEFAULT NULL,
  `image_url` text DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `packages`
--

LOCK TABLES `packages` WRITE;
/*!40000 ALTER TABLE `packages` DISABLE KEYS */;
/*!40000 ALTER TABLE `packages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_otps`
--

DROP TABLE IF EXISTS `password_reset_otps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_otps` (
  `id` varchar(64) NOT NULL,
  `user_id` varchar(64) NOT NULL,
  `otp_hash` varchar(64) NOT NULL,
  `attempts` int(11) NOT NULL DEFAULT 0,
  `created_date` datetime NOT NULL,
  `expires_at` datetime NOT NULL,
  `used_at` datetime DEFAULT NULL,
  `verified_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_password_reset_otps_user` (`user_id`),
  KEY `idx_password_reset_otps_created` (`created_date`),
  CONSTRAINT `fk_password_reset_otp_user` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_otps`
--

LOCK TABLES `password_reset_otps` WRITE;
/*!40000 ALTER TABLE `password_reset_otps` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_otps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `id` varchar(64) NOT NULL,
  `user_id` varchar(64) NOT NULL,
  `token_hash` varchar(64) NOT NULL,
  `purpose` varchar(32) NOT NULL DEFAULT 'reset_authorization',
  `attempts` int(11) NOT NULL DEFAULT 0,
  `created_date` datetime NOT NULL,
  `expires_at` datetime NOT NULL,
  `used_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_password_reset_tokens_user` (`user_id`),
  KEY `idx_password_reset_tokens_hash` (`token_hash`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment_qr_codes`
--

DROP TABLE IF EXISTS `payment_qr_codes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payment_qr_codes` (
  `id` varchar(64) NOT NULL,
  `created_date` datetime NOT NULL,
  `updated_date` datetime NOT NULL,
  `label` varchar(191) NOT NULL,
  `account_name` varchar(191) DEFAULT NULL,
  `account_number` varchar(191) DEFAULT NULL,
  `instructions` text DEFAULT NULL,
  `image_url` text NOT NULL,
  `display_order` int(11) NOT NULL DEFAULT 1,
  `is_active` tinyint(1) NOT NULL DEFAULT 1
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment_qr_codes`
--

LOCK TABLES `payment_qr_codes` WRITE;
/*!40000 ALTER TABLE `payment_qr_codes` DISABLE KEYS */;
/*!40000 ALTER TABLE `payment_qr_codes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pending_registrations`
--

DROP TABLE IF EXISTS `pending_registrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `pending_registrations` (
  `id` varchar(64) NOT NULL,
  `created_date` datetime NOT NULL,
  `updated_date` datetime NOT NULL,
  `email` varchar(191) NOT NULL,
  `full_name` varchar(191) NOT NULL,
  `birth_date` date DEFAULT NULL,
  `phone` varchar(64) DEFAULT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role` enum('guest') NOT NULL DEFAULT 'guest',
  `app_id` varchar(191) NOT NULL DEFAULT 'local-kasa-ilaya',
  `app_role` varchar(64) NOT NULL DEFAULT 'guest',
  PRIMARY KEY (`id`),
  UNIQUE KEY `pending_registrations_email_unique` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pending_registrations`
--

LOCK TABLES `pending_registrations` WRITE;
/*!40000 ALTER TABLE `pending_registrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `pending_registrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `registration_otps`
--

DROP TABLE IF EXISTS `registration_otps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `registration_otps` (
  `id` varchar(64) NOT NULL,
  `user_id` varchar(64) DEFAULT NULL,
  `pending_registration_id` varchar(64) DEFAULT NULL,
  `otp_hash` varchar(64) NOT NULL,
  `purpose` varchar(32) NOT NULL DEFAULT 'registration',
  `attempts` int(11) NOT NULL DEFAULT 0,
  `created_date` datetime NOT NULL,
  `expires_at` datetime NOT NULL,
  `used_at` datetime DEFAULT NULL,
  `verified_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `idx_registration_otps_user` (`user_id`),
  KEY `idx_registration_otps_pending` (`pending_registration_id`),
  KEY `idx_registration_otps_created` (`created_date`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `registration_otps`
--

LOCK TABLES `registration_otps` WRITE;
/*!40000 ALTER TABLE `registration_otps` DISABLE KEYS */;
/*!40000 ALTER TABLE `registration_otps` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resort_rules`
--

DROP TABLE IF EXISTS `resort_rules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `resort_rules` (
  `id` varchar(64) NOT NULL,
  `created_date` datetime NOT NULL,
  `updated_date` datetime NOT NULL,
  `title` varchar(191) NOT NULL,
  `description` text NOT NULL,
  `sort_order` int(11) NOT NULL DEFAULT 1,
  `is_active` tinyint(1) NOT NULL DEFAULT 1
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resort_rules`
--

LOCK TABLES `resort_rules` WRITE;
/*!40000 ALTER TABLE `resort_rules` DISABLE KEYS */;
/*!40000 ALTER TABLE `resort_rules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reviews`
--

DROP TABLE IF EXISTS `reviews`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `reviews` (
  `id` varchar(64) NOT NULL,
  `created_date` datetime NOT NULL,
  `updated_date` datetime NOT NULL,
  `booking_id` varchar(64) DEFAULT NULL,
  `booking_reference` varchar(64) DEFAULT NULL,
  `guest_name` varchar(191) NOT NULL,
  `guest_email` varchar(191) DEFAULT NULL,
  `package_name` varchar(191) DEFAULT NULL,
  `rating` int(11) NOT NULL,
  `review_text` text NOT NULL,
  `is_approved` tinyint(1) NOT NULL DEFAULT 0
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reviews`
--

LOCK TABLES `reviews` WRITE;
/*!40000 ALTER TABLE `reviews` DISABLE KEYS */;
/*!40000 ALTER TABLE `reviews` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `site_settings`
--

DROP TABLE IF EXISTS `site_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `site_settings` (
  `id` varchar(64) NOT NULL,
  `created_date` datetime NOT NULL,
  `updated_date` datetime NOT NULL,
  `site_name` varchar(191) NOT NULL DEFAULT 'Kasa Ilaya',
  `logo_url` text DEFAULT NULL,
  `hero_image_url` text DEFAULT NULL,
  `hero_badge_text` varchar(191) DEFAULT NULL,
  `hero_title_line1` varchar(191) DEFAULT NULL,
  `hero_title_line2` varchar(191) DEFAULT NULL,
  `hero_description` text DEFAULT NULL,
  `body_font_style` varchar(64) NOT NULL DEFAULT 'inter',
  `heading_font_style` varchar(64) NOT NULL DEFAULT 'playfair',
  `amenities_section_label` varchar(191) DEFAULT NULL,
  `amenities_section_title` varchar(191) DEFAULT NULL,
  `amenities_section_description` text DEFAULT NULL,
  `amenities_json` longtext DEFAULT NULL,
  `require_strong_password` tinyint(1) NOT NULL DEFAULT 1,
  `min_password_length` int(11) NOT NULL DEFAULT 8,
  `session_timeout_minutes` int(11) NOT NULL DEFAULT 120,
  `max_login_attempts` int(11) NOT NULL DEFAULT 5,
  `lockout_minutes` int(11) NOT NULL DEFAULT 15,
  `enable_login_notifications` tinyint(1) NOT NULL DEFAULT 1,
  `terms_title` varchar(191) DEFAULT NULL,
  `terms_summary` text DEFAULT NULL,
  `terms_content` longtext DEFAULT NULL,
  `resort_gallery_json` longtext DEFAULT NULL,
  `packages_banner_url` text DEFAULT NULL,
  `hero_images_json` longtext DEFAULT NULL,
  `packages_banner_images_json` longtext DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `site_settings`
--

LOCK TABLES `site_settings` WRITE;
/*!40000 ALTER TABLE `site_settings` DISABLE KEYS */;
/*!40000 ALTER TABLE `site_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `upcoming_schedules`
--

DROP TABLE IF EXISTS `upcoming_schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `upcoming_schedules` (
  `id` varchar(64) NOT NULL,
  `created_date` datetime NOT NULL,
  `updated_date` datetime NOT NULL,
  `title` varchar(191) NOT NULL,
  `schedule_date` date NOT NULL,
  `start_time` varchar(16) DEFAULT NULL,
  `end_time` varchar(16) DEFAULT NULL,
  `location` varchar(191) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `created_by_name` varchar(191) DEFAULT NULL,
  `created_by_email` varchar(191) DEFAULT NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `upcoming_schedules`
--

LOCK TABLES `upcoming_schedules` WRITE;
/*!40000 ALTER TABLE `upcoming_schedules` DISABLE KEYS */;
/*!40000 ALTER TABLE `upcoming_schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` varchar(64) NOT NULL,
  `created_date` datetime NOT NULL,
  `updated_date` datetime NOT NULL,
  `email` varchar(191) NOT NULL,
  `full_name` varchar(191) NOT NULL,
  `birth_date` date DEFAULT NULL,
  `phone` varchar(64) DEFAULT NULL,
  `profile_image_url` text DEFAULT NULL,
  `role` enum('super_admin','admin','guest') NOT NULL DEFAULT 'guest',
  `password_hash` varchar(255) DEFAULT NULL,
  `failed_login_attempts` int(11) NOT NULL DEFAULT 0,
  `lockout_until` datetime DEFAULT NULL,
  `last_login_at` datetime DEFAULT NULL,
  `disabled` tinyint(1) NOT NULL DEFAULT 0,
  `is_verified` tinyint(1) NOT NULL DEFAULT 0,
  `app_id` varchar(191) NOT NULL DEFAULT 'local-kasa-ilaya',
  `is_service` tinyint(1) NOT NULL DEFAULT 0,
  `app_role` varchar(64) NOT NULL DEFAULT 'guest',
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-15 16:57:24
